blockchain-development-kit/accelerators/attestable-documents-and-media/blockchain-workbench/email/deploy/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "functionAppName": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "The name of the function app to create. Must be globally unique."
      }
    },
    "office365ConnectionName": {
      "type": "string",
      "metadata": {
        "description": "Name to use for Office 365 API connection"
      },
      "defaultValue": "office365"
    },
    "office365ConnectionDisplayName": {
      "type": "string",
      "metadata": {
        "description": "DisplayName to use for Office 365 API connection"
      }
    },
    "serviceBusConnectionName": {
      "type": "string",
      "defaultValue": "servicebus",
      "metadata": {
        "description": "Service Bus Connection Name"
      }
    },
    "serviceBusConnectionDisplayName": {
      "type": "string",
      "defaultValue": "WorkbenchConnection",
      "metadata": {
        "description": "Service Bus Connection Display Name"
      }
    },
    "serviceBusConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "Azure Service Bus Connection String"
      }
    },
    "serviceBusQueue": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Service Bus Queue Name"
      }
    },
    "userChainIdentifier": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "User Chain Identifier"
      }
    },
    "registryAddress": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "File Registry Contract Address"
      }
    }
  },
  "variables": {
    "repoUrl": "https://github.com/Azure-Samples/blockchain",
    "branch": "master",
    "functionName": "GenericHashFunction",
    "hostingPlanName": "[parameters('functionAppName')]",
    "storageAccountName": "[concat(uniquestring(resourceGroup().id), 'azfunctions')]",
    "storageACcountid": "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]",
    "storageAccountType": "Standard_LRS"
  },
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Initialize_RequestId": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "RequestId",
                    "type": "String"
                  }
                ]
              },
              "runAfter": {}
            },
            "Initialize_ProcessDateTime": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ProcessDateTime",
                    "type": "String"
                  }
                ]
              },
              "runAfter": {
                "Initialize_RequestId": [
                  "Succeeded"
                ]
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@triggerBody()?['Attachments']",
              "actions": {
                "Hash_File_Content": {
                  "type": "Function",
                  "inputs": {
                    "body": "@items('For_each')?['ContentBytes']",
                    "function": {
                      "id": "[resourceId('Microsoft.Web/sites/functions', parameters('functionAppName'), variables('functionName'))]"
                    }
                  },
                  "runAfter": {}
                },
                "Hash_Metadata": {
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "contentType": "@items('For_each')?['ContentType']",
                      "etag": "@items('For_each')?['Id']",
                      "id": "@items('For_each')?['Id']",
                      "name": "@items('For_each')?['Name']",
                      "path": "@items('For_each')?['Name']"
                    },
                    "function": {
                      "id": "[resourceId('Microsoft.Web/sites/functions', parameters('functionAppName'), variables('functionName'))]"
                    }
                  },
                  "runAfter": {
                    "Hash_File_Content": [
                      "Succeeded"
                    ]
                  }
                },
                "Set_RequestId": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "RequestId",
                    "value": "@{guid()}"
                  },
                  "runAfter": {
                    "Hash_Metadata": [
                      "Succeeded"
                    ]
                  }
                },
                "Set_ProcessDateTime": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ProcessDateTime",
                    "value": "@{utcNow()}"
                  },
                  "runAfter": {
                    "Set_RequestId": [
                      "Succeeded"
                    ]
                  }
                },
                "Send_message": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['servicebus_1']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "SessionId": "@variables('RequestId')",
                      "ContentData": "@{base64(concat('{','\n','    \"requestId\": \"',variables('RequestId'),'\",','\n','    \"userChainIdentifier\": \"',variables('UserChainIdentifier'),'\",','\n','    \"applicationName\": \"FileRegistry\",','\n','    \"workflowName\": \"File\",','\n','    \"parameters\": [','\n','        {','\n','            \"name\": \"registryAddress\",','\n','            \"value\": \"',variables('RegistryAddress'),'\"','\n','        },','\n','        { \"name\": \"fileId\", \"value\": \"',items('For_each')?['Id'],'\" },','\n','        { \"name\": \"location\", \"value\": \"',triggerBody()?['To'],'\" },','\n','        { \"name\": \"fileHash\", \"value\": \"',body('Hash_File_Content'),'\" },','\n','        { \"name\": \"fileMetadataHash\", \"value\": \"',body('Hash_Metadata'),'\" },','\n','        { \"name\": \"contentType\", \"value\": \"',items('For_each')?['ContentType'],'\" },','\n','        { \"name\": \"etag\", \"value\": \"',items('For_each')?['Id'],'\"},','\n','        { \"name\": \"processedDateTime\", \"value\": \"',variables('ProcessDateTime'),'\" }           ','\n','    ],','\n','    \"connectionId\": 1,','\n','    \"messageSchemaVersion\": \"1.0.0\",','\n','    \"messageName\": \"CreateContractRequest\"','\n','}'))}"
                    },
                    "path": "[concat('/@{encodeURIComponent(encodeURIComponent(', '''', parameters('serviceBusQueue'), '''', '))}', '/messages')]",
                    "queries": {
                      "systemProperties": "None"
                    }
                  },
                  "runAfter": {
                    "Set_ProcessDateTime": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Initialize_File_Registry_Address": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_UserChainIdentifier": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "UserChainIdentifier",
                    "type": "String",
                    "value": "[parameters('userChainIdentifier')]"
                  }
                ]
              },
              "runAfter": {
                "Initialize_ProcessDateTime": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_File_Registry_Address": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "RegistryAddress",
                    "type": "String",
                    "value": "[parameters('registryAddress')]"
                  }
                ]
              },
              "runAfter": {
                "Initialize_UserChainIdentifier": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_new_email_arrives": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Mail/OnNewEmail",
                "queries": {
                  "folderPath": "Inbox",
                  "importance": "Any",
                  "fetchOnlyWithAttachment": true,
                  "includeAttachments": true
                }
              },
              "recurrence": {
                "frequency": "Hour",
                "interval": 1
              },
              "splitOn": "@triggerBody()?['value']"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('serviceBusConnectionName'))]",
                "connectionName": "[parameters('serviceBusConnectionName')]"
              },
              "office365": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
                "connectionName": "[parameters('office365ConnectionName')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/sites/sourcecontrols', parameters('functionAppName'), 'web')]",
        "[resourceId('Microsoft.Web/connections', parameters('serviceBusConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365ConnectionName')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365ConnectionDisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('serviceBusConnectionName')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[parameters('serviceBusConnectionDisplayName')]",
        "parameterValues": {
          "connectionString": "[parameters('serviceBusConnectionString')]"
        }
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts",
      "name": "[variables('storageAccountName')]",
      "apiVersion": "2015-06-15",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "accountType": "[variables('storageAccountType')]"
      }
    },
    {
      "type": "Microsoft.Web/serverfarms",
      "apiVersion": "2015-04-01",
      "name": "[variables('hostingPlanName')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "name": "[variables('hostingPlanName')]",
        "computeMode": "Dynamic",
        "sku": "Dynamic"
      }
    },
    {
      "apiVersion": "2015-08-01",
      "type": "Microsoft.Web/sites",
      "name": "[parameters('functionAppName')]",
      "location": "[parameters('logicAppLocation')]",
      "kind": "functionapp",
      "dependsOn": [
        "[resourceId('Microsoft.Web/serverfarms', variables('hostingPlanName'))]",
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
      ],
      "properties": {
        "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', variables('hostingPlanName'))]",
        "siteConfig": {
          "appSettings": [
            {
              "name": "AzureWebJobsDashboard",
              "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('storageAccountName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]"
            },
            {
              "name": "AzureWebJobsStorage",
              "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('storageAccountName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]"
            },
            {
              "name": "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING",
              "value": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('storageAccountName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]"
            },
            {
              "name": "WEBSITE_CONTENTSHARE",
              "value": "[toLower(parameters('functionAppName'))]"
            },
            {
              "name": "FUNCTIONS_EXTENSION_VERSION",
              "value": "~2"
            },
            {
              "name": "WEBSITE_NODE_DEFAULT_VERSION",
              "value": "6.5.0"
            },
            {
              "name": "Project",
              "value": "functions/storage"
            }
          ]
        }
      },
      "resources": [
        {
          "apiVersion": "2015-08-01",
          "name": "appsettings",
          "type": "config",
          "dependsOn": [
            "[resourceId('Microsoft.Web/Sites', parameters('functionAppName'))]",
            "[resourceId('Microsoft.Web/Sites/sourcecontrols', parameters('functionAppName'), 'web')]",
            "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
          ],
          "properties": {
            "AzureWebJobsStorage": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('storageAccountName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]",
            "AzureWebJobsDashboard": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('storageAccountName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]",
            "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('storageAccountName'), ';AccountKey=', listKeys(variables('storageAccountid'),'2015-05-01-preview').key1)]",
            "WEBSITE_CONTENTSHARE": "[toLower(parameters('functionAppName'))]",
            "FUNCTIONS_EXTENSION_VERSION": "~2",
            "WEBSITE_NODE_DEFAULT_VERSION": "6.5.0"
          }
        },
        {
          "apiVersion": "2015-08-01",
          "name": "web",
          "type": "sourcecontrols",
          "dependsOn": [
            "[resourceId('Microsoft.Web/Sites', parameters('functionAppName'))]"
          ],
          "properties": {
            "RepoUrl": "[variables('repoURL')]",
            "branch": "[variables('branch')]",
            "IsManualIntegration": true
          }
        }
      ]
    }
  ],
  "outputs": {}
}